.app__nav {
  text-align: center;
}
.app__title {
  background-color: rgb(90, 117, 201);
  text-align: center;
  color: white;
  padding: 1rem;
  margin-bottom: 2.5rem;
}
.app__search-input {
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
.app__movie-container {
  padding: 0 2rem;
}
.app__movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.app__card {
  background-color: rgb(204, 225, 225);
  margin: 1rem;
  width: 400px;
  border-radius: 0.7rem;
}
.app__description {
  margin: 0.5rem;
  display: flex;
}
.posterURL {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 10px;
}
.posterURL img {
  width: 100%;
}
.frame {
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}
/* mobile*/
@media screen and (max-width: 450px) {
  .app__movie-container {
    padding: 0;
  }
  body {
    background: rgb(145, 172, 255);
  }
}
